
.botao-personalizado {
  background-color: #6366f1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.botao-personalizado:hover {
  background-color: #4f46e5;
}