.input-com-label {
  margin-bottom: 16px;
}

.input-com-label label {
  font-size: 14px;
  margin-bottom: 4px;
  display: block;
  color: #374151;
}

.input-com-label input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}